.footer__column-link {
  color: #fff;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 10px;
  display: flex;
}

.footer__column-link:last-of-type {
  margin: 0;
}
