/* Подзаголовок текста "Научиться учиться" с его настройкой */
.header__subtitle {
  position: absolute;
  display: block;
  width: 388px;
  margin: 0;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}
